<nav class="navbar navbar-expand bg-gris fixed-top shadow">
    <div class="">
        <ul class="navbar-nav mt-2">
            <li class="nav-item" (ngModel)="orders" style="margin-right: 6%" (click)="cambiarActiveIcon(0)" routerLink="orders">
                <div class="text-center" [ngClass]="{'morad': orders==true, 'grisaceo': orders==false}">
                    <div class="py-0">
                        <i class="fa fa-list-ul fa-2x"></i>
                    </div>
                    <div class="py-0">
                        <span>Ordenes</span>
                    </div>
                </div>
            </li>
            <li class="nav-item" (ngModel)="ordTomadas" style="margin-right: 6%" (click)="cambiarActiveIcon(1)" routerLink="taked-order">
                <div class="text-center" [ngClass]="{'morad': ordTomadas==true, 'grisaceo': ordTomadas==false}">
                    <div class="py-0">
                        <i class="fa fa-shipping-fast fa-2x"></i>
                    </div>
                    <div class="py-0">
                        <span>Tomadas</span>
                    </div>
                </div>
            </li>
            <li class="nav-item" (ngModel)="ordEntregadas" style="margin-right: 9%" (click)="cambiarActiveIcon(2)" routerLink="ship-order">
                <div class="text-center" [ngClass]="{'morad': ordEntregadas==true, 'grisaceo': ordEntregadas==false}">
                    <div class="py-0">
                        <i class="fa fa-shipping-fast fa-2x"></i>
                    </div>
                    <div class="py-0">
                        <span>Entregadas</span>
                    </div>
                </div>
            </li>
            <li class="nav-item" (ngModel)="perfil" style="margin-right: 14%" (click)="cambiarActiveIcon(3)" routerLink="profile">
                <div class="text-center" [ngClass]="{'morad': perfil==true, 'grisaceo': perfil==false}">
                    <img class="py-0 img-bar">
                    <div class="py-0">
                        <span>Perfil</span>
                    </div>
                </div>
            </li>
            <li class="nav-item grisaceo" (click)="cerrarSesion(content)" style="margin-left: 0">
                <div class="text-center">
                    <div class="py-0">
                        <i class="fas fa-sign-out-alt fa-2x"></i>
                    </div>
                    <div class="py-0">
                        <span>Salir</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>


<ng-template #content let-modal style="border-radius: 25px;">
    <div class="modal-header">
        <button type="button" class="close px-3" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span style="font-size: 30px" aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="row" style="align-self: center; align-content: center">
                <div class="col"></div>
                <div class="col" style="text-align-last: center"><i class="far fa-question-circle fa-4x morad"></i>
                </div>
                <div class="col"></div>

            </div>

            <div class="row p-3" style="text-align: center">
                <h2>¿Realmente deseas salir?</h2>
                <h2>Se guardara tu orden actual para cuando vuelvas.</h2>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lux px-3" style="width: auto" (click)="closeAndRecharge()">Cerrar</button>
    </div>
</ng-template>